body{
background-color: blueviolet;
}

}
#issa_video{
    width: 100%;
}

#CT{

    height:676px;
    
    width:598px;
    
    border: solid;


    position: relative; left:35px;top:85px; 


}



#p0{

border: aqua;

height:100px;

width:250px;

border: solid;

text-align: auto;

margin-left:650px ;

position: relative;top: -624px;
}

#p1{
 border: crimson;

 height:575px;   

width:250px ;

margin-left:650px;

margin-top: -663px;

text-align: auto;

border: solid;

position: relative;
}

#p5{
    border: crimson;
    height: 575px;
    width: 250px;
    margin-left: 650px;
    margin-top: 230px;
    text-align: auto;
    border: solid;
    position: relative;
   }

   #p4{
    border: aqua;
    height: 100px;
    width: 250px;
    border: solid;
    text-align: auto;
    margin-left: 650px;
    position: relative;
    top: -778px;
    }

#CT1{
    height: 676px;
    width: 598px;
    border: solid;
    position: relative;
    left: 35px;
    top: -939px;
}




